h1{
  text-transform:capitalize;
  font-size: 2em;
  display: inline-block;
  width: 400px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container{
margin-top:5px;
margin-bottom:5px;
}
.button{
  width:50px;
  text-transform: capitalize;
  font-weight: bold;
}
.input-label{
  width: 130px;
  display: inline-block;
}
.input-text {
  width: 20px;
}
#c{
border:2px solid thistle;
}
.button_change{
display: block;
  width: 170px;
  margin-top: 10px;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid lightgray;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
}
